

.jeck{
    background-color: rgb(117, 12, 12);
}

.jeck h1{
    text-align: center;
    color: rgb(223, 223, 43);
    font-size: 50px;
}

.Form{
    width: 260px;
    height: 400px;
    background: linear-gradient(to top, rgba(136, 130, 134, 0.8)50%, rgba(136, 123, 123, 0.8)50%);
    left: 830px;
    border-radius: 10px;
    align-items: center;
    padding: 50px;
    bottom: 440px;
    position: relative;
}

.Form h2{
    color: rgb(248, 248, 246);
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
}

.pic{
    padding-left: 40px;
}

